<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打开延迟加载的开关-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 将积极加载改为按需加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://hnut.top:3306/j2ee"/>
                <property name="username" value="root"/>
                <property name="password" value="CMBJX,ccwtn0"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="cn/edu/zjut/mappers/EmailVerifyMapper.xml"/>
        <mapper resource="cn/edu/zjut/mappers/StaffMapper.xml"/>
        <mapper resource="cn/edu/zjut/mappers/ManagerMapper.xml"/>
        <mapper resource="cn/edu/zjut/pojo/EmployeeMapper.xml"/>
        <mapper resource="cn/edu/zjut/pojo/PreferenceMapper.xml"/>

    </mappers>
</configuration>
